/face_recognition/build/recognizeByIntelRealSense/Analysis-00.toc
/face_recognition/build/recognizeByIntelRealSense/base_library.zip
/face_recognition/build/recognizeByIntelRealSense/EXE-00.toc
/face_recognition/build/recognizeByIntelRealSense/PKG-00.toc
/face_recognition/build/recognizeByIntelRealSense/PYZ-00.pyz
/face_recognition/build/recognizeByIntelRealSense/PYZ-00.toc
/face_recognition/dist/recognizeByIntelRealSense.exe
/face_recognition/build/recognizeByIntelRealSense/recognizeByIntelRealSense.pkg
/face_recognition/recognizeByIntelRealSense.spec
/face_recognition/build/recognizeByIntelRealSense/Tree-00.toc
/face_recognition/build/recognizeByIntelRealSense/Tree-01.toc
/face_recognition/build/recognizeByIntelRealSense/Tree-02.toc
/face_recognition/build/recognizeByIntelRealSense/warn-recognizeByIntelRealSense.txt
/face_recognition/build/recognizeByIntelRealSense/xref-recognizeByIntelRealSense.html
/face_recognition/known_faces/Richard.png
/face_recognition/known_faces/Ajay.png
/face_recognition/known_faces/Anandhan.png
/face_recognition/known_faces/bahratha.png
/face_recognition/known_faces/ElenaGaura.png
/face_recognition/known_faces/ElenaGaura1.png
/face_recognition/known_faces/Kamalanathan.png
/face_recognition/known_faces/KNSAcharya.png
/face_recognition/known_faces/KNSAcharya1.png
/face_recognition/known_faces/KNSAcharya2.png
/face_recognition/known_faces/Lokeswara.png
/face_recognition/known_faces/Prithvi.png
/face_recognition/known_faces/Ramesha.png
/face_recognition/known_faces/Richard1.png
/face_recognition/known_faces/RohitBhagat.png
/face_recognition/known_faces/SunitaPanda.png
/face_recognition/known_faces/Thippeswamy.png
/face_recognition/known_faces/Venkata.png
